Heroes of Pymoli Analysis

In [14]:
#Import Pandas Library
import pandas as pd

#Reference csv file purchasedata
csv_path = "./purchase_data.csv"

#Read csv into panda data frame
pymoli_purchase_df = pd.read_csv(csv_path)
pymoli_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Total Number of Players

In [15]:
#Find the total number of players
player_count = len(pymoli_purchase_df["SN"].unique())
player_count

576

Purchasing Analysis Summery Table

In [16]:
#Create a table for Purchasing Analysis by finding the number of unique items, 
##average purchase price, total number of purchases, and total revenue

#Find number of unique items
unique_item_count = len(pymoli_purchase_df["Item ID"].unique())
unique_item_count

#Find the Average Purchase Price
avg_purchase_price = "${:.2f}".format(pymoli_purchase_df["Price"].mean())
avg_purchase_price

#Find Total Number of Purchases
total_purchases = pymoli_purchase_df["Purchase ID"].count()
total_purchases

#Find the Total Revenue
total_revenue = "${0:,.2f}".format(pymoli_purchase_df["Price"].sum())
total_revenue

#Create a summary table
columns = ["Number of Unique Items", "Average Purchase Price", "Total Number of Purchases", "Total Revenue"]
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                              "Average Purchase Price": [avg_purchase_price],
                              "Total Number of Purchases": [total_purchases],
                              "Total Revenue": [total_revenue]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

Gender Demographics Table