Heroes of Pymoli Analysis

In [14]:
#Import Pandas Library
import pandas as pd

#Reference csv file purchasedata
csv_path = "./purchase_data.csv"

#Read csv into panda data frame
pymoli_purchase_df = pd.read_csv(csv_path)
pymoli_purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Total Number of Players

In [15]:
#Find the total number of players
player_count = len(pymoli_purchase_df["SN"].unique())
player_count

576

Purchasing Analysis Summery Table

In [39]:
#Create a table for Purchasing Analysis by finding the number of unique items, 
##average purchase price, total number of purchases, and total revenue

#Find number of unique items
unique_item_count = len(pymoli_purchase_df["Item ID"].unique())
unique_item_count

#Find the Average Purchase Price
avg_purchase_price = "${:.2f}".format(pymoli_purchase_df["Price"].mean())
avg_purchase_price

#Find Total Number of Purchases
total_purchases = pymoli_purchase_df["Purchase ID"].count()
total_purchases

#Find the Total Revenue
total_revenue = "${0:,.2f}".format(pymoli_purchase_df["Price"].sum())
total_revenue

#Create a summary table
#columns = ["Number of Unique Items", "Average Purchase Price", "Total Number of Purchases", "Total Revenue"]
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                              "Average Purchase Price": [avg_purchase_price],
                              "Total Number of Purchases": [total_purchases],
                              "Total Revenue": [total_revenue]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

Gender Demographics Table

In [55]:
#Find the count and percentage of male, female and Other/non-disclosed players

#Find the count and percentage of male players
male_df = pymoli_purchase_df[pymoli_purchase_df["Gender"] == "Male"]
male_count = len(male_df["SN"].unique())
male_count
male_percentage = "{:.2%}".format(male_count/player_count)
male_percentage

#Find the count and percentage of male players
female_df = pymoli_purchase_df[pymoli_purchase_df["Gender"] == "Female"]
female_count = len(female_df["SN"].unique())
female_count
female_percentage = "{:.2%}".format(female_count/player_count)
female_percentage

#Find the count and percentage of other/non-disclosed players
other_df = pymoli_purchase_df[pymoli_purchase_df["Gender"] == "Other / Non-Disclosed"]
other_count = len(other_df["SN"].unique())
other_count
other_percentage = "{:.2%}".format(other_count/player_count)
other_percentage

#Create a summary table based on gender
gender_analysis_df = pd.DataFrame({
                              "Total Count": [male_count, female_count, other_count],
                              "Percentage of Players": [male_percentage, female_percentage, other_percentage]},
                                index = ["Male", "Female", "Other / Non-Disclosed"])
gender_analysis_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis by Gender

In [ ]:
#Find purchasing trends by each gender category for purchase count, average purchase price,
##total purchase value, and average purchase total per gender

#